# Maintainer: Gilbert Gilb's <gilbsgilbert@gmail.com>
pkgname=riscv-gnu-toolchain-bin
pkgver={{ metadata.package_data.pkgver }}
pkgrel={{ metadata.package_data.pkgrel }}
pkgrel=1
pkgdesc="GNU toolchain for RISC-V, including GCC. Precompiled riscv64-unknown-elf-gcc, riscv32-unknown-elf-gcc, riscv64-unknown-linux-gnu-gcc, and riscv32-unknown-linux-gnu-gcc."
arch=('x86_64')
url="https://github.com/riscv-collab/riscv-gnu-toolchain"
license=('GPL2')
depends=()
optdepends=()
makedepends=()
options=(!strip)
source=(
  "{{ metadata.release_info.assets.rv32elf }}"
  "{{ metadata.release_info.assets.rv32glibc }}"
  "{{ metadata.release_info.assets.rv64elf }}"
  "{{ metadata.release_info.assets.rv64glibc }}"
)
sha512sums=(
  "{{ sha512sum(metadata.release_info.assets.rv32elf) }}"
  "{{ sha512sum(metadata.release_info.assets.rv32glibc) }}"
  "{{ sha512sum(metadata.release_info.assets.rv64elf) }}"
  "{{ sha512sum(metadata.release_info.assets.rv64glibc) }}"
)

package() {
  install -dm755 "${pkgdir}"/usr/

  cp -pr "${srcdir}"/riscv/* "${pkgdir}"/usr/

  # Remove existing conflicts with gcc and other packages
  rm -rf "${pkgdir}"/usr/include/gdb/jit-reader.h
  rm -rf "${pkgdir}"/usr/share/man/man7
  rm -rf "${pkgdir}"/usr/lib/libcc1.so*
  rm -rf "${pkgdir}"/usr/lib/bfd-plugins/libdep.so
  rm -rf "${pkgdir}"/usr/share/gcc-*/python/libstdcxx
  rm -rf "${pkgdir}"/usr/share/gdb/python/gdb
  rm -rf "${pkgdir}"/usr/share/gdb/syscalls
  rm -rf "${pkgdir}"/usr/share/gdb/system-gdbinit
  rm -rf "${pkgdir}"/usr/share/info
  rm -rf "${pkgdir}"/usr/bin/qemu-*
  rm -rf "${pkgdir}"/usr/include/qemu-*
  rm -rf "${pkgdir}"/usr/share/qemu
}
